<main>

<!-- =======================
Page Banner START -->
<section class="bg-blue align-items-center d-flex" style="background:url(<%= asset_path('04.png')%>) no-repeat center center; background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <!-- Title -->
        <h1 class="text-white">Our Programs</h1>
        <!-- Breadcrumb -->
        <div class="d-flex justify-content-center">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Programs</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 my-5 " >
  <div class="container ">
    <!-- Title -->
    <div class="row mb-5 ">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="fs-2">Our Programs</h2>
        <p class="mb-0">Here are our graduate programs </p>
      </div>
    </div>

    <div class="row ">
      <div class="col-lg-12 col-xl-12">
        <div class="row g-4 d-flex justify-content-md-center">
          <% Program.where(study_level: 'undergraduate').or(Program.where(study_level: 'graduate')).each do |pro|%>
            <div class="col-sm-6 col-xl-3">
              <div class="card border h-100">
                <%= image_tag pro.photo, class:"card-img-top" ,alt: "#{pro.program_name}", style: "min-height: 254px !important;"%>
                <!-- Card body -->
                <div class="card-body" style="padding-right: 0px;">
                  <!-- Title -->
                  <h5 class="card-title"><%= link_to pro.program_name, program_path(pro), class: "stretched-link"%></h5>
                  
                </div>
                <div class="card-footer">
                  <div class="d-sm-flex justify-content-between align-items-center">
                    <h6 class="badge bg-success bg-opacity-10 text-success mb-0"><%= pro.modality%></h6>
                    <%= link_to "View detail <i class='bi bi-arrow-right ms-2'></i>".html_safe, program_path(pro), class: "btn btn-link p-0 mb-0"%>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</section> 




<!-- =======================
Counter START -->
<section class="py-5">
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <!-- SVG decoration START -->
        <figure class="position-absolute top-50 start-50 translate-middle ms-2">
          <svg>
            <path class="fill-white opacity-2" d="m496 22.999c0 10.493-8.506 18.999-18.999 18.999s-19-8.506-19-18.999 8.507-18.999 19-18.999 18.999 8.506 18.999 18.999z"></path>
            <path class="fill-white opacity-2" d="m775 102.5c0 5.799-4.701 10.5-10.5 10.5-5.798 0-10.499-4.701-10.499-10.5 0-5.798 4.701-10.499 10.499-10.499 5.799 0 10.5 4.701 10.5 10.499z"></path>
            <path class="fill-white opacity-2" d="m192 102c0 6.626-5.373 11.999-12 11.999s-11.999-5.373-11.999-11.999c0-6.628 5.372-12 11.999-12s12 5.372 12 12z"></path>
            <path class="fill-white opacity-2" d="m20.499 10.25c0 5.66-4.589 10.249-10.25 10.249-5.66 0-10.249-4.589-10.249-10.249-0-5.661 4.589-10.25 10.249-10.25 5.661-0 10.25 4.589 10.25 10.25z"></path>
          </svg>
        </figure>
        <!-- SVG decoration END -->

        <div class="bg-dark p-4 p-sm-5 rounded-3">
          <div class="row justify-content-center position-relative">
            <!-- Svg decoration START -->
            <figure class="fill-white opacity-1 position-absolute top-50 start-0 translate-middle-y">
              <svg width="141px" height="141px">
                <path d="M140.520,70.258 C140.520,109.064 109.062,140.519 70.258,140.519 C31.454,140.519 -0.004,109.064 -0.004,70.258 C-0.004,31.455 31.454,-0.003 70.258,-0.003 C109.062,-0.003 140.520,31.455 140.520,70.258 Z"></path>
              </svg>
            </figure>
            <!-- SVG decoration END -->
            
            <!-- Action box -->
            <div class="col-11 position-relative">
              <div class="row align-items-center">
                <!-- Title -->
                <div class="col-lg-7">
                  <h3 class="text-white mb-0">Registration Is Now Open</h3>
                  <p class="text-white small mt-3">Premier College is now accredited by Ethiopia Education and Training Authority (ETA) to register and teach students.</p>
                  <!-- List -->
                  <ul class="list-inline mb-0 justify-content-center justify-content-lg-start">
                    <li class="list-inline-item text-white me-2"> <i class="bi bi-check-circle-fill text-success me-2"></i>Graduate Program</li>
                    <li class="list-inline-item text-white me-2"> <i class="bi bi-check-circle-fill text-success me-2"></i>Online Modality</li>
                    <!-- <li class="list-inline-item text-white me-2"> <i class="bi bi-check-circle-fill text-success me-2"></i>TVET Program</li> -->
                  </ul>
                </div>
                <!-- Content and input -->
                <div class="col-lg-5 text-lg-end mt-3 mt-lg-0">
                  <a href="/contact" class="btn btn-warning mb-0">Contact Us</a>
                </div>
              </div> <!-- Row END -->
            </div>
          </div>
        </div>
      </div>
    </div> <!-- Row END -->
  </div>
</section>
<!-- =======================
Counter END -->

</main>
