
<main id="main">   <!-- hero slider -->
<section class=" hero-section overlay bg-cover " data-background="page-title.jpg">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="/contact" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="/contact" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="/contact" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main id="main">
  <!-- banner-feature -->


  <!-- /banner-feature -->
  <!-- about us -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
          <h2 class="section-title">About Us</h2>
          <p>	<%= @college.overview.html_safe %> </p>
          <%= link_to 'Learn more', about_path, class:"btn btn-primary-outline" %>
        </div>
        <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
          <%= image_tag 'about-us.jpg',class:"img-fluid w-100" %>
        </div>
      </div>
    </div>
  </section>
  <!-- /about us -->
  <!-- courses -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">Our Programs</h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
            <div>
              <%= link_to 'see all', programs_path, class:"btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block" %>
            </div>
          </div>
        </div>
      </div>
      <!-- course list -->
      <div class="row">
        <!-- course item -->
        <% @programs.each do |program|%>
          <div class="col-lg-4 col-sm-6 mb-5 d-flex align-self-stretch">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
              <%= image_tag program.photo, class:"card-img-top rounded-0"%>
              <div class="card-body d-flex flex-column">
                <ul class="list-inline mb-2">
                  <li class="list-inline-item"><a class="text-color" href="#"><%= program.modality%></a></li>
                </ul>
                <%= link_to program_path(program) do%>
                  <h4 class="card-title"><%= program.program_name.html_safe%></h4>
                <% end%>
                <p class="card-text mb-4"><%= program.overview.truncate(256).html_safe%> </p>
                <%= link_to "Read More", program_path(program), class: "mt-auto align-self-start btn btn-primary btn-sm"%>
              </div>
            </div>
          </div>
        <%end%>
      </div>
      <!-- course item -->
      <!-- /course list -->
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="courses.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /courses -->
  <!--marketing-->
  <section class="section bg-primary">
    <div class="container">
      <% @marketing.where(page_to_display: 'home').each do |m|%>
        <div class="text-center">
          <h3><%= m.headline_title.html_safe%></h3>
          <p class="text-muted"><%= m.description.html_safe%></p>
          <%link_to "#{m.action}", class:"cta-btn" do %>Learn more<%end%>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- /marketing -->
<!-- events -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Latest News and Events</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <%= link_to 'see all', news_index_path, class:"btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- event -->
      <%@news.each do |news|%>
        <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0  d-flex align-self-stretch">
          <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
            <%= image_tag news.photo, class:"card-img-top rounded-0" %>
            <div class="card-body d-flex flex-column">
              <!-- post meta -->
              <ul class="list-inline mb-3">
                <!-- post date -->
                <li class="list-inline-item mr-3 ml-0"><%= Date.parse(news.created_at.to_s).strftime('%A')%>, <%= Date.parse(news.created_at.to_s).to_formatted_s(:long)%></li>
                <!-- author -->
                <li class="list-inline-item mr-3 ml-0">By <%= news.published_by%></li>
              </ul>
              <%= link_to news_path(news) do%>
                <h4 class="card-title"><%= news.news_title.html_safe%></h4>
              <% end%>
              <p class="card-text"><%= news.overview.truncate(256).html_safe%></p>
              <%= link_to 'Read More', news_path(news), class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        </article>
      <%end%>
      <!-- event -->
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="course.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /events -->
  <!--Testimonials Section-->
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Testimonials</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="owl-carousel testimonials-carousel">
            <% @comment.where(category: "testimonial").where(display_on_home_page: true).where(main_testimonial: false).each do |c|%>
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <%= image_tag("blank-profile-picture-973460_640.png", class: "testimonial-img")%>
                  <h3><%= c.fullname%></h3>
                  <h4><%= c.subject.html_safe%></h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <%= c.message.html_safe%>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
      </div>
      <div class="text-center"><%= link_to "Check Our Branches", "/contact",class: "btn btn-primary mb-4"%></div>
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Ethiopia Addis Ababa, Asmara Road</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>info@gic@edu.et<br>
                  contact@gic@edu.et</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+251-11-6-460954<br>
                  +251-11-6-478965</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <%= simple_form_for(VisitorComment.new, url: visitor_comments_path, html: { class: 'php-email-form'}) do |f| %>
            <div class="form-row">
              <div class="col form-group">
                <%= f.input :fullname, class: "form-control"%>
                <div class="validate"></div>
              </div>
              <div class="col form-group">
                <%= f.input :category, collection: ["testimonial", "comment", "review"], class: "form-control"%>
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <%= f.input :subject, class: "form-control"%>
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <%= f.input :message, class: "form-control", type: 'text'%>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <%= f.submit 'Send Message', class: 'btn btn-primary'%>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main><!-- End #main -->
