
	<main id="main">
  <!-- page title -->
<section class="hero-section-page-title overlay bg-cover" data-background="../page-title.jpg">
<style scoped>
.on-the-fly-behavior {
    margin-top: 145px;
}
@media (max-width: 1000px) {
    .on-the-fly-behavior {
        margin-top: 175px;
    }
}
</style>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-2">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="courses.html">Our <%=@admission.admission_name%> Courses</a></li>
        </ul>
        <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

		<section id="departments" class="departments">
			<div class="container">

				<div class="section-title">
					<h2>Our <%= @admission.admission_name%> Program</h2>
					<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.</p>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<ul class="nav nav-tabs flex-column">
							<li class="nav-item">
								<a class="nav-link active show" data-toggle="tab" href="#tab-12">How to Apply</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-22">Required Documents</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-32">Payment Process</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-42">Useful Informations</a>
							</li>
				<!-- <li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#tab-52">E-learning</a>
				</li> -->
			</ul>
			</div>
			<div class="col-lg-9 mt-4 mt-lg-0">
				<div class="tab-content">
					<div class="tab-pane active show" id="tab-12">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>How to Apply</h3>
								<p><%= @admission.how_to_apply.html_safe%></p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-22">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Required Documents</h3>
								<p><%= @admission.required_document.html_safe%></p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-32">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Payment Process</h3>
								<p><%= @admission.payment_process.html_safe%></p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-42">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Useful Informations</h3>
								<p><%= @admission.useful_information.html_safe%></p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
	</section>
  <!-- courses -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3"><%=@admission.admission_name%> Programs</h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
            <div>
              <%= link_to 'see all', programs_path, class:"btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block" %>
            </div>
          </div>
        </div>
      </div>
      <!-- course list -->
      <div class="row">
        <!-- course item -->
        <% @programs.where(study_level: @admission.study_level).where(modality: @admission.modality).each do |program|%>
          <div class="col-lg-4 col-sm-6 mb-5 d-flex align-self-stretch">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
              <%= image_tag program.photo, class:"card-img-top rounded-0"%>
              <div class="card-body d-flex flex-column">
                <ul class="list-inline mb-2">
                  <li class="list-inline-item"><a class="text-color text-uppercase" href="#"><%= program.modality%></a></li>
                </ul>
                <%= link_to program_path(program) do%>
                  <h4 class="card-title"><%= program.program_name.html_safe%></h4>
                <% end%>
                <p class="card-text mb-2"><%= program.overview.truncate(256).html_safe%> </p>
                <%= link_to "Read More", program_path(program), class: "mt-auto align-self-start btn btn-primary btn-sm"%>
              </div>
            </div>
          </div>
        <%end%>
      </div>
      <!-- course item -->
      <!-- /course list -->
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="courses.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /courses -->

  <section class="section bg-primary">
    <div class="container">
      <% @marketing.where(page_to_display: 'admission').each do |m|%>
        <div class="text-center">
          <h2 class="text-muted"><%= m.headline_title.html_safe%></h2>
          <p  class="text-muted"><%= m.description.html_safe%></p>
          <%link_to "#{m.action}", class:"cta-btn" do %>Learn more<%end%>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- /marketing -->
	</main>

