<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
  <div class="navbar-top navbar-dark bg-light d-none d-xl-block py-2 mx-2 mx-md-4 rounded-bottom-4">
  <div class="container">
    <div class="d-lg-flex justify-content-lg-between align-items-center">
      <!-- Navbar top Left-->
      <!-- Top info -->
      <ul class="nav align-items-center justify-content-center">
        <li class="nav-item me-3" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="bottom" data-bs-original-title="Sunday CLOSED">
          <span><i class="far fa-clock me-2"></i>Visit time: Mon-Sat 9:00-19:00</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-headset me-2"></i>Call us now: <%= College.first.phone_number %></a>
        </li>
      </ul>

      <!-- Navbar top Right-->
      <div class="nav d-flex align-items-center justify-content-center">
        <!-- Top social -->
        <ul class="list-unstyled d-flex mb-0">
          <li> <a class="px-2 nav-link" href="<%= College.first.facebook_handle%>"><i class="fab fa-facebook"></i></a> </li>
          <li> <a class="px-2 nav-link" href="<%= College.first.instagram_handle%>"><i class="fab fa-instagram"></i></a> </li>
          <li> <a class="px-2 nav-link" href="<%= College.first.twitter_handle%>"><i class="fab fa-twitter"></i></a> </li>
          <li> <a class="ps-2 nav-link" href="<%= College.first.linkedin_handle%>"><i class="fab fa-linkedin-in"></i></a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Logo START -->
      <a class="navbar-brand me-0 py-3" href="/">
        <%= image_tag("logo-main2.jpg",class: "light-mode-item navbar-brand-item", alt: "logo")%>
        <%= image_tag("logo-main2.jpg",class: "dark-mode-item navbar-brand-item", alt: "logo")%>
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <!-- Main navbar START -->
      <div class="navbar-collapse collapse" id="navbarCollapse">

        <!-- Nav Search END -->
        <ul class="navbar-nav navbar-nav-scroll ms-auto">
          <li class="nav-item dropdown"><%= link_to "Home", root_path,class: "nav-link active"%></li>

          <li class="nav-item dropdown"><%= link_to "About us", about_path, class: "nav-link"%></li>
          <li class="nav-item dropdown"><%= link_to "Programs", programs_path, class: "nav-link"%></li>
          <!-- Nav item 1 Demos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admission</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="demoMenu">
              <% Admission.all.each do |ad|%>
                <li> <%= link_to ad.admission_name, admission_path(ad),class: "dropdown-item"%></li>
              <%end%>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">How It Works</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="demoMenu">
              <li> <%= link_to "How to apply", "#",class: "dropdown-item"%></li>
              <li> <%= link_to "How to learn", "#",class: "dropdown-item"%></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><%= link_to "News & Events", news_index_path, class: "nav-link"%></li>
          <li class="nav-item dropdown">
            <a href="https://portal.premiercollege.edu.et/students/sign_in" class= "nav-link">Sign In</a>
          </li>
        </ul>
      </div>
      <!-- Main navbar END -->
      
      <!-- Signin button -->
      <div class="navbar-nav ms-2 d-none d-sm-block">
        <a href="https://portal.premiercollege.edu.et" class= "btn btn-md btn-dark mb-0">Apply Now</a>
      </div>

    </div>
  </nav>
  <!-- Logo Nav END -->
</header>
<!-- Header END -->